# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project

# Git
.git/
.gitignore

# Scripts
*.ps1

# Documentation
*.md

# Cloudflare
cloudflare-tunnel-config.yml

# Docker
Dockerfile
.dockerignore
docker-compose.yml
